body {
  background-color: #232730;
  /*font-family: "Menlo";*/
  margin:0;
}
header {
  background-color: #131720;
  height: 60px;
  width: 100%;
  font-family: "Menlo";

}

.greetings {
  font-family: "Menlo";
}

h1 {
  color: #ffffff;
}

.logo:hover {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari prior 9.0 */
  transform: rotate(360deg); /* Standard syntax */
  transition-duration: .75s;
}
.logo {
  width: 60px;
  transform: rotate(-360deg); /* Standard syntax */
  transition-duration: .75s;
}

.projects {
  font-family: arial;
  padding: 30px;

}

.projects h2{
  padding:5px 10px;
  color: white;
}

.projects p{
  padding:5px 10px;
  color: white;
}

.item_1 {
  transition: all 2s;
  border-radius: 1px;
  border-style: solid;
  border-color: #669999;
  border-radius: 5px;
  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
      ),
    url('../img/Sudoku.jpg');
  background-repeat: no-repeat;
  float: left;
  width: 600px;
  height:400px;
  margin: 10px;

}

.item_1:hover {
  transition: all 2s;
  background: url('../img/Sudoku.gif');
  background-repeat: no-repeat;
  cursor: pointer;

}
.item_1:hover h2{
  color: transparent;
}
.item_1:hover p{
  color: transparent;
}

.item_2 {
  background:
    linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
      ),
    url('../img/Idyllic.jpg');
  background-repeat: no-repeat;
  border-radius: 1px;
  border-style: solid;
  border-color: #669999;
  border-radius: 5px;
  height:400px;
  width: 600px;
  margin: 10px;
  float:left;
  transition: all 2s;

}

.item_2:hover{
  background: url('../img/Idyllic.gif');
  background-repeat: no-repeat;
  transition: all 2s;
  cursor: pointer;

}

.item_2:hover h2{
  color: transparent;
}
.item_2:hover p{
  color: transparent;
}
